.card {
	display: flex;
	flex-direction: column;
	margin: 10px;
	padding: 15px;
	justify-content: center;
	align-items: stretch;
	background-color: #8EC5FC;
	background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
	height: 20em;
}

p {
	text-align: center;
}

img {
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
}